package ${iServicePackageName}.service;

import java.util.List;

import com.github.pagehelper.PageHelper;
import ${beanPackageName}.${beanClass};

/**
 * ${serviceInterfaceName} Service接口定义类
 * 
 * @author ${author}
 * @version ${version} $createDate 初始创建
 */
public interface ${serviceInterfaceName} {

    /**
     * 新增一条${beanClass}记录
     * 
     * @param paramBean 要新增的${beanClass}记录数据对象
     * @return 新增记录的ID
     */
    public Long insert(${beanClass} paramBean);
    
    /**
     * 根据主键ID，删除一条${beanClass}记录
     * 
     * @param id ${beanClass}的主键
     */
    public void deleteByPrimaryKey(Long id);
    
    /**
     * 根据主键更新${beanClass}数据记录
     * 
     * @param paramBean 要更新的${beanClass}数据对象
     */
    public void updateByPrimaryKeySelective(${beanClass} paramBean);
    
    /**
     * 根据主键查询${beanClass}数据对象
     * 
     * @param id ${beanClass}的主键
     * @return ${beanClass}数据对象
     */
    public ${beanClass} selectByPrimaryKey(Long id);
    
    /**
     * 查询符合条件的${beanClass}结果集,根据paramBean动态拼接查询条件。
     * 
     * @param paramBean 用于封装查询条件
     * @return ${beanClass}数据查询结果集
     */
    public List<${beanClass}> selectByConditions(${beanClass} paramBean);
    
    /**
     * 分页查询符合条件的${beanClass}结果集
     * 
     * @param paramBean 查询条件
     * @param pageNum 查询的页码
     * @param pageSize 每页记录数
     * @return 数据查询结果集
     */
    public PageInfo<${beanClass}> selectByPage(${beanClass} paramBean, final int pageNum, final int pageSize);

}
