package ${controllerPackage}.${classLowerName};

import ${basePackage}.common.base.BaseBean;
import ${basePackage}.persistence.service.${className}Service;

import org.hibernate.validator.constraints.Length;
import com.github.pagehelper.PageInfo;

import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.MediaType;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import javax.annotation.Resource;
import javax.servlet.http.HttpServletRequest;
import java.util.*;
/**
 * ${className}Controller定义类，对应表${tableName}
 *
 * @author ${author}
 * @version ${version} $createDate 初始创建
 */
@Slf4j
@RestController
@RequestMapping("/${classLowerName}")
public class ${className}Controller {
    @Resource
    private ${className}Service ${classLowerName}Service;

    @RequestMapping(value = "/list", produces = MediaType.APPLICATION_JSON_UTF8_VALUE)
    public ResponseMessage list(@RequestBody ListForm form) {

        ${className}DO ${classLowerName}DO = new ${className}DO();
        BeanCopyUtil.copyFormObjectWithIgnoreCase(${classLowerName}Form, ${classLowerName}DO);
        PageInfo<${className}DO> list = ${classLowerName}Service.listByPage(${classLowerName}DO,
        ${classLowerName}Form.getPageNum(),${classLowerName}Form.getPageSize());
        return ResponseMessageUtil.genSuccessResult(list);
    }

    @RequestMapping(value = "/add", produces = MediaType.APPLICATION_JSON_UTF8_VALUE)
    public ResponseMessage add(@RequestBody AddForm form) {
        ${className} ${classLowerName}DO = new ${className}();
        BeanCopyUtil.copyFormObjectWithIgnoreCase(${classLowerName}Form, ${classLowerName}DO);
        ${classLowerName}Service.insert(${classLowerName}DO);
        return ResponseMessageUtil.genSuccessResult("新增成功");
    }

    @RequestMapping(value = "/delete", produces = MediaType.APPLICATION_JSON_UTF8_VALUE)
    public ResponseMessage delete(@RequestBody DeleteForm form) {
        String[] idArray = StringUtils.split(form.getId());
        List<Long> list = new ArrayList<>();
        for(String id : idArray){
            list.add(Long.parseLong(id));
        }
        ${classLowerName}Service.deleteBatchByPrimaryKeys(list);
        return ResponseMessageUtil.genSuccessResult();
    }

    @RequestMapping(value = "/update", produces = MediaType
    .APPLICATION_JSON_UTF8_VALUE)
    public ResponseMessage edit(@RequestBody UpdateForm form) {
        ${className} ${classLowerName}DO = new ${className}();
        BeanCopyUtil.copyFormObjectWithIgnoreCase(${classLowerName}Form, ${classLowerName}DO);

        if (${classLowerName}DO.getId() == null) {
            return ResponseMessageUtil.genFailResult("ID为空");
        }
        ${classLowerName}Service.updateByPrimaryKeySelective(${classLowerName}DO);
        return ResponseMessageUtil.genSuccessResult("修改成功");
    }

    @RequestMapping(value = "/detail", produces = MediaType.APPLICATION_JSON_UTF8_VALUE)
    public ResponseMessage detail(@RequestBody Long id){
        ${className} ${classLowerName}DO = ${classLowerName}Service.getByPrimaryKey(id);
        return ResponseMessageUtil.genSuccessResult(${classLowerName}DO);
    }
}
